:root{
    --primary-color: purple;
    --secondary-color: magenta;
    --black: black;
}
*{
    cursor: pointer;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
header{
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
    color: var(--secondary-color);
}
.start-screen {
    margin: auto;
    text-align: center;
}
.options{
    list-style: none;
    max-width: fit-content;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}
.btn{
    max-width: fit-content;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 3px;
    color: white;
}
.btn:hover, .options:hover{
    background-color: var(--secondary-color);
}
#rightwrong{
    color: grey;
    opacity: 80%;
    font-style: italic;
}
.score-item:first-child{
    background-color: lavender;
}
